[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jinja2 = "*"
requests = "*"
aiohttp = "*"
unidecode = "*"
click = "*"

[dev-packages]
black = "*"

[scripts]
manage = "python manage.py"
build = "python build.py"
scan = "python scripts/scan.py"
ghpr = "python scripts/ghpr.py"
serve = "python -m http.server --directory build"
