@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.7;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}