<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Domain Name Hack Club</title>

  <meta name="description" content="An exclusive club of nerds that own the domain hack to their name">
  <meta name="keywords" content="domain, name, hack, club, exclusive, personal, homepage">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all">

  <link rel="canonical" href="https://namehack.club/">

  <link href="tachyons.min.css" rel="stylesheet">
  <link href="base.css" rel="stylesheet">
  <script src="https://skilled-twentyeight.namehack.club/script.js" data-site="SSTGQKAU" defer></script>
</head>

<body class="mw7-ns ph3 center sans-serif">
  <h1 class="mt5-ns f1 center code shadow">Doma<span class="silver">.</span>in Na<span class="silver">.</span>me
    Ha<span class="silver">.</span>ck Cl<span class="silver">.</span>ub</h1>
  <p class="lh-copy">An exclusive club of nerds that own the <a href="https://en.wikipedia.org/wiki/Domain_hack"
      class="link dim dark-pink">domain hack</a> to their name, and serve their personal homepage from it. Are you one
    of us? <a href="https://github.com/yuvadm/namehack.club" class="link dim dark-pink">Join the club.</a></p>

  <ul class="list pl0 pv4">
    {% for name in names %}
    <li class="mb3">
      <div class="f3">{{ name|render_link("link dim blue")|safe }}</div>
      <div class="light-silver serif mt1">{{ name.title }}</div>
    </li>
    {% endfor %}
  </ul>
  <hr class="mt4 white-20">
  <footer class="tr lh-copy mb4">
    Created by <a href="https://yuv.al" class="link dim green">Yuval Adam</a>. Maintained collaboratively on <a
      href="https://github.com/yuvadm/namehack.club" class="link dim green">Github</a>.
  </footer>
</body>

</html>
